@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@font-face {
    font-family: 'et-line';
    src: url('../fonts/et-line.eot');
    src: url('../fonts/et-line.eot?#iefix') format('embedded-opentype'), url('../fonts/et-line.woff') format('woff'), url('../fonts/et-line.ttf') format('truetype'), url('../fonts/et-line.svg#et-line') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

[data-icon]:before {
    font-family: 'et-line';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

:root {
    --light-green: #3CDBAD;
    --orangish: #FA9E07
    /*--highlight-color: #ff1b68;*/
}

html {
    height: 100%;
}

body {
    font-family: "et-line", "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.main-banner {
    background: url("../images/home-bg.jpg") center/cover no-repeat border-box;
    width: 100vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    transition: background-image 1s ease-in-out;
}

.main-banner__content {
    display: inline-block;
    margin: 8vh 5vw;
    text-align: center;
    color: white;
}

.main-banner__title {
    font-size: 2rem;
}

.main-banner__description {
    font-family: sans-serif;
    font-size: 1.1rem;
}

.main-banner a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Lato", sans-serif;
    padding: 10px 30px;
    margin: 30px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

#main-banner__learn-more {
    border: 2px solid white;
}

#main-banner__contact {
    display: none;
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
}

.main-banner a:hover,
#main-banner__contact:hover {
    color: var(--light-green);
    background-color: white;
    border: 2px solid white;
}

#main-banner__contact:focus,
#main-banner__contact:active {
    color: white;
    border: 2px solid var(--orangish);
    background-color: var(--orangish);
}

.main-header__buttons {
    display: flex;
    border-bottom: 0.5px solid #ebebeb;
}

.main-header__buttons h2 {
    display: inline-block;
    font-weight: 510;
    font-size: 1.7rem;
    letter-spacing: 0.7px;
    margin: 0.5rem 1rem;
    color: gray;
}

.toggle-button {
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 85%;
    height: 0.1rem;
    background: var(--light-green);
    display: block;
    margin: 0.4rem 0;
}

.main-header {
    overflow: hidden;
}

.main-nav {}

.main-nav__items {
    list-style: none;
    padding: 0;
}

.main-nav__item a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}