.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
}

.services .section-title,
.services .section-description {
    text-align: left;
}

.services__list {
    display: grid;
    grid-template-columns: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: 2rem;
}

.services__list-item {
    display: grid;
    grid-template-columns: auto auto;
}

.services__icon {
    padding: 1rem;
    padding-left: 0;
    font-size: 1.8rem;
    color: gray;
}

.highlighted {
    color: var(--light-green);
}

.service__title {
    margin: 0;
    padding: 1rem;
    padding-left: 0;
    font-weight: 700;
    font-size: 1.5rem;
}

.service__description {
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0;
    padding: 0;
    color: var(--gray);
}

@media(min-width: 550px) {
    .services {
        padding: 3rem 3rem;
    }
    .services__list {
        grid-template-columns: auto auto;
    }
}

@media(min-width: 800px) {
    .services {
        padding: 5rem 8rem;
    }
}