.testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
}

.testimonial .section-title {
    text-align: center;
}

.carousel {
    width: 100%;
    position: relative;
    display: flex;
}

.carousel-slide {
    display: none;
    position: absolute;
    width: 100%;
}

.carousel-slide__visible {
    position: absolute;
    animation: fade 1.5s;
}

.carousel-slide__mobile-visible {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    animation: fade 1.5s;
}

.carousel__dots {
    display: none;
}

.dot,
.mobile-dot {
    text-align: center;
    height: 0.8rem;
    width: 0.8rem;
    opacity: 0.3;
    margin: 0 2px;
    background-color: var(--light-green);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    opacity: 1;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.testimonial-image {
    width: 4.5rem;
    height: 4.5rem;
}

.testimonial-description {
    padding: 0;
    margin-left: 1rem;
}

.testimonial__description-content {
    color: var(--gray);
}

.testimonial__description-author {
    font-size: 1rem;
}

@media(min-width: 550px) {
    .testimonial {
        padding: 3rem 3rem;
    }
    .carousel-slide {
        padding: 1rem;
    }
    .carousel-slide__mobile-visible {
        position: absolute;
        opacity: 0;
    }
    .carousel-slide__visible {
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
        opacity: 1;
    }
    .carousel__mobile-dots {
        display: none;
    }
    .carousel__dots {
        display: initial;
    }
}

@media(min-width: 800px) {
    .testimonial {
        padding: 5rem 8rem;
    }
}